.wrapper-articles {
  padding: 80px 0 147px 0;
}
.list-articles {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 143px;

  width: 1433px;
  margin: 0 auto;
  margin-bottom: 192px;

  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  color: rgb(45, 45, 45);

}
.list-articles__item {
  
  width: 645px;
}
.list-articles__article {
  display: flex;
  align-items: start;
}
.article {
}
.article__img {
}
.article__title {
  /* width: 450px; */
  padding-left: 30px;
}
.numbers-pages {
}

.wrapper-articles__numbers-pages {
}
.numbers-pages {
  display: flex;
  justify-content: center;
}
.numbers-pages__btn-left {
}
.numbers-pages__btns {
  padding: 0 30px;
}
.numbers-pages__btn-right {
}